<%- include('partials/head.ejs') %> 
    <%- include('partials/navbar.ejs') %> 


    <!-- <h1>Library Content</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi quia velit corporis, et laboriosam itaque odio optio eum id, quidem blanditiis nulla minus quibusdam debitis! Illo consequatur quas delectus beatae!
        Lorem ipsumit est illum atque eligendi facilis ab blanditiis. Earum itaque atque libero in eveniet dolores sed quis eius aliquam ea quasi nemo deserunt, dolorem explicabo nesciunt quas maiores.
    </p>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat neque, alias quo accusantium possimus voluptates eum quisquam. Sint voluptate asperiores quia doloremque assumenda minus esse ipsa laborum, excepturi, iure voluptatibus?
    Impedit ratione expedita architecto neque magnam sint quos, vel odio minus dicta sequi explicabo incidunt, ipsum unde voluptas assumenda quibusdam, qui officiis velit? Adipisci reprehenderit labore harum saepe ab? Doloremque.
    Doloremque, molestiae, ex porro quasi laborum nemo eos temporibus ab officia hic voluptas culpa rerum laboriosam necessitatibus ipsa ipsam, sed aliquid eum expedita eius deserunt facilis? Ipsa reiciendis aperiam dolores.
    Vitae eos nobis consequatur ut dolore excepturi tenetur recusandae. Beatae dolor molestiae ad deleniti sequi eveniet tempora unde, non exercitationem possimus dignissimos vel voluptates eos asperi -->
        <img src="https://media.istockphoto.com/photos/asian-female-student-sitting-on-floor-in-the-library-open-and-from-picture-id1332169141?b=1&k=20&m=1332169141&s=170667a&w=0&h=LG2oLG6jggorHl3_Lt74diqAreOlGYFgJbb9F8h-hN8=" width="100%" height="100%" alt="image">
    <%- include('partials/foot.ejs') %> 
